# Entorno virtual
venv/
.venv/

# Archivos de configuración sensibles
.env

# Archivos y carpetas generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Archivos de caché y temporales
*.log
*.cache
*.bak
*.swp
*~


# Archivos de Streamlit
.streamlit/

# Archivos generados por IDEs y editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de pruebas o cobertura
.coverage
coverage.xml
*.cover
*.py,cover
.tox/
.nox/
.pytest_cache/